*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arials, sans-serif;
}

header a{
  text-decoration: none;
  color: #000;
}

aside{
  float: left;
  width: 15%;
  height: 727px;
  margin-left: 5%;
  background-image: linear-gradient(#FF1D15, #391F1F)
}

aside header{
  background-image: radial-gradient(#D124E4, #A11BAF);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
  font-size: 25px;
}

aside ul {
  padding: 0;
  line-height: 2;
  margin: 0;
}

aside ul li{
  list-style: none;
  margin: 0;
  width: 60%;
  height: 50px;
  margin-top: 30px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

aside ul li:not(#li-01){
  margin-top: 40px;
}

aside ul li a{
  color: black;
  text-decoration: none;
  padding: 0;
  font-size: 13px;
}

aside ul #li-01{
  background-color: #F0C808;
}

aside ul #li-01::before{
  position: relative;
  height: 50px;
  width: 68px;
  left: 57px;
  top: 0px;
  content: "";
  background-color: #f0c828;
  transform: skew(-54deg);
  z-index: -1;
}

aside ul #li-01::after{
  position: relative;
  height: 49px;
  width: 52px;
  left: 9px;
  top: 1px;
  content: "";
  background-color: #F0C808;
  transform: skew(-127deg);
  z-index: -1;
}


aside ul #li-01{
  background-color: #F0C808;
}

aside ul #li-01::before{
  position: relative;
  height: 50px;
  width: 68px;
  left: 59px;
  top: 0px;
  content: "";
  background-color: #f0c828;
  transform: skew(-54deg);
  z-index: -1;
}

aside ul #li-01::after{
  position: relative;
  height: 49px;
  width: 52px;
  left: 10px;
  top: 1px;
  content: "";
  background-color: #F0C808;
  transform: skew(-127deg);
  z-index: -1;
}


aside ul #li-01 a{
  padding: 12px 3px;
  position: absolute;
  margin-left: -4px;
}
aside ul #li-02{
  background-color: #EEE5E9;
}

aside ul #li-02::before{
  position: relative;
  height: 49px;
  width: 68px;
  left: 59px;
  top: 0px;
  content: "";
  background-color: #EEE5E9;
  transform: skew(-54deg);
  z-index: -1;
}

aside ul #li-02::after{
  position: relative;
  height: 49px;
  width: 52px;
  left: 10px;
  top: 1px;
  content: "";
  background-color: #EEE5E9;
  transform: skew(-127deg);
  z-index: -1;
}

aside ul #li-02 a{
  padding: 12px 2px;
  position: absolute;
}
aside ul #li-03{
  background-color: #03CEA4;
}

aside ul #li-03::before{
  position: relative;
  height: 50px;
  width: 68px;
  left: 59px;
  top: 0px;
  content: "";
  background-color: #03CEA4;
  transform: skew(-54deg);
  z-index: -1;
}

aside ul #li-03::after{
  position: relative;
  height: 49px;
  width: 52px;
  left: 10px;
  top: 1px;
  content: "";
  background-color: #03CEA4;
  transform: skew(-127deg);
  z-index: -1;
}

aside ul #li-03 a{
  padding: 9px 68px;
  position: absolute;
}
aside ul #li-04{
  background-color: #50DD09;
}

aside ul #li-04::before{
  position: relative;
  height: 49px;
  width: 68px;
  left: 59px;
  top: 0px;
  content: "";
  background-color: #50DD09;
  transform: skew(-54deg);
  z-index: -1;
}

aside ul #li-04::after{
  position: relative;
  height: 49px;
  width: 52px;
  left: 10px;
  top: 1px;
  content: "";
  background-color: #50DD09;
  transform: skew(-127deg);
  z-index: -1;
}

aside ul #li-04 a{
  padding: 12px 24px;
  position: absolute;
}

aside .avatar{
  margin-top: 45px;
  text-align: center;
}

aside .avatar img{
  max-width: 30%;
  display: block;
  height: auto;
  border-radius: 50%;
  margin: 30px 77px;
  border: 3px solid #4F4FB6;
}

aside .avatar p{
  margin-top: -4.5px;
  color: #fff;
  font-weight: bold;
}


main{
  float: left;
  width: 75%;
  height: 727px;
  background-color: #4378E1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

main h1{
  color: #FDF5F5;
  font-size: 90px;
  margin-top: -80px;
}

main ul{
  margin-top: 50px;
  line-height: 2;
  text-decoration: none;
  list-style: none;
  color: #FFF;
}

main ul li {
  font-size: 18px;
}

main ul li i{
  color: #00FF08;
  font-size: 28px;
}

.pain span{
  visibility: hidden;
}

.pain{
  display: flex;
  margin-top: 109px;
  justify-content: center;
  margin-left: 60px;
}


.pain1, .pain2, .pain3, .pain4, .pain5{
  transform: rotate(90deg);
  margin-left: -45px;
  height: 27px;
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pain1{
  background: red;
  width: 45px;
  margin-top: 20px;
  margin-right: 29px;
}

.pain2{
  background: yellow;
  width: 65px;
  margin-top: 11px;
  margin-right: 9px;


}
.pain3{
    background: blue;
    width: 35px;
    margin: 26px 27px 0px -21px;
}
.pain4{
    background: orange;
    width: 44px;
    margin: 22px 16px 0px -28px;
}
.pain5{
    background: grey;
    width: 86px;
    margin-top: 1px;
}

#letGoBtn{
  margin: 20px 15px;
  background-color: red;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 2px #131212;
}


